@keyframes pulsate {
   0% {
     opacity: 0;
   }
 
   50% {
     opacity: 0.6;
   }
   100% {
     opacity: 0;
     transform: scale(1.1);
   }
 }

.about {
    background-color: #0a2750;
    overflow: hidden;
     display: flex;
    position: relative;
     justify-content: flex-start;
     padding: 100px 80px;
     z-index: 5;
     color: #fff;
  }
 
  .about__title {
     margin: 0;
     max-width: 251px;
     font-family: "Inter", "Arial", sans-serif; 
     font-style: normal; 
     font-weight: 500; 
     font-size: 44px; 
     line-height: 52px;
     color: #fff;
     z-index: 8;
     margin-left: 80px;
  }
 
  .about__content {
     font-style: normal; 
     font-weight: 400; 
     font-size: 20px; 
     line-height: 30px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     margin: 119px 0 173px;
     max-width: 606px;
     flex-grow: 1;
     margin-left: auto;
  }
 
  .about__paragraph {
    margin-bottom: 20px;
    font-family: "Noto Serif", "Arial", serif;
    font-style : normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-top: auto;
 }
 
 
  .about__paragraph:last-child {
   margin-bottom: 0;
  }

  #about {
    position: relative;
    min-height: 600px;
    overflow: hidden;
  }

  .about__circle {
    background-color: #2f80ed;
    width: 426px;
    height: 426px;
    position: absolute;
    border-radius: 50%;
    top: -152px;
    left: -129px;
    z-index: -1;
 }


 .about__circle_animation_blurred {
   animation: pulsate 1.3s ease-in-out infinite 0s;
 }