.footer {
    background: linear-gradient(180deg, #0a2850,#071931 100%);
    color: #fff;
    padding: 60px 80px 108px;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 auto;
    }
   
    .footer__content {
       display: flex;
       justify-content: space-between;
       align-items: center;
    }
   
    .footer_logo {
    max-height: 39px;
    max-width: 105px;
    }
   
    .footer__social {
       display: flex;
       align-items:center;
    }
   
   .footer_social-heading {
   margin: 0 0 20px;
   font-size: 16px;
   line-height: 20px;
   font-family: "Inter", "Arial", sans-serif;
   font-style: normal; 
   font-weight: bold; 
   font-size: 16px; 
   line-height: 20px;
   }
   
    .footer__list {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   gap: 20px;
   flex-direction: column;
   align-items: flex-end;
   font-family: "Inter", "Arial", sans-serif; 
   font-style: normal; 
   font-weight: normal; 
   font-size: 16px; 
   line-height: 20px;
    }
   
    .footer__list-item a {
       text-decoration: none;
       color: #fff;
   }
   
    .footer__list-item a:hover {
       opacity: 0.7;
   }
    
    .footer_column {
       display: flex;
       justify-content: flex-end;
       flex-direction: column;
       align-items: flex-start;
       height: 100%;
    }
   
    .footer__copyright {
       font-size: 16px;
       font-family: "Inter", "Arial", sans-serif;
       font-style: normal; 
       font-weight: normal; 
       font-size: 16px; 
       line-height: 20px;
   }